:root {
  --branding-color: #0f4c5c;
  --background-color: #e3f2fd;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  color: black;
  opacity: 0.8;
  font-family: var(--heading-font);
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font);
}

p {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.main {
  background-color: var(--background-color);
  color: #272142;
  text-align: center;
  padding: 160px 20px;
}

.main p {
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.main h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 70px;
}

.main h2 {
  font-family: var(--default-font);
  font-weight: normal;
  line-height: 2;
  font-size: 22px;
}

.contact-btn {
  background-color: var(--branding-color);
  color: white;
  border-radius: 6px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.featured {
  font-size: 20px;
}

.launch-btn {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 6px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font);
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font);
}

.content {
  margin: 30px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font);
  line-height: 1;
}

.content p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.display-picture {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid var(--background-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 12px;
  }

  .main {
    padding: 80px 20px;
  }

  .launch-btn {
    font-size: 12px;
    padding: 10px;
    line-height: 17px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
    font-size: 4px;
  }

  .display-picture {
    width: 300px;
    height: 300px;
  }
}
