:root {
  --branding-color: #0f4c5c;
  --background-color: #e3f2fd;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font);
}

p {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

.main {
  background-color: var(--background-color);
  color: #272142;
  text-align: center;
  padding: 160px 20px;
}

.main p {
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.main h1 {
  color: black;
  opacity: 0.8;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 70px;
}

.main h2 {
  font-family: var(--default-font);
  font-weight: normal;
  line-height: 2;
  font-size: 22px;
}

.contact-btn {
  background-color: var(--branding-color);
  color: white;
  border-radius: 6px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.launch-btn {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 6px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
